/* BookByID Styles */


    .bookContainer h1 {
        font-size: 2rem;
    }
    .bookContainer h2 {
        font-size: 1,2rem;
        color: rgb(184, 184, 184);
    }
   
    .linkBooks {
        margin: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        align-self: flex-end;
    }

    /* BookByCategory Styles */

    .listBooksByCategory {
        margin: 10px 0 0 20px;
        display: flex;
        flex-flow: row wrap;
        align-self: flex-start;
    }

    .lowercase {
        text-transform: lowercase;
    }