/** @format */

.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPerson {
  border-radius: 10px;
  color: rgb(241, 236, 236);
  width: 330px;
  height: 450px;
  max-width: 330px;
  max-height: 450px;
  min-width: 330px;
  background-color: rgba(22, 46, 117, 0.897);; 
  display: flex;
  justify-content: left;
  
  box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.30);
}

.namePerson {
  
  margin-left: 50px;
  margin-top: 50px;
  font-size: 16px;
  color: grey;
  text-align: left;
}

.surnamePerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  color: grey;
  text-align: left;
}

.emailPerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  color: grey;

  text-align: left;
}
.aliasPerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  color: grey;
  text-align: left;
}
.personID {
  margin-left: 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
}

.dataSpace{
  text-transform: lowercase;
  margin-top: 0px;
  margin-left: 50px;
  padding-right: 0px;
  text-align: left;
}


.btnGroupPerson {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  justify-content: right;
  align-items: center;

}



