.containerBookList {
  width: 400px;
  height: 200px;
  margin-top: 200px;
  margin-left: 0px;
  margin-bottom: 200px;
  padding: 25px;
  position: relative;
  width: auto;
  min-width: 500px;
  max-width: 900px;
  height: auto;
  min-height: 300px;
  color: white;
  background-color: rgba(27, 48, 117, 0.8);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 16px 7px
    rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 7px
    rgba(0, 0, 0, 0.75);
}

.listBooks {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 10px 0 0 0;
}

.btnGroup {
  margin: 5px 25px;
  display: flex;
  justify-content: center;
  align-items: baseline;

}

.listBooks {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0 0 0;
}

.btnGroup {
  margin: 5px 25px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card {
  margin: 5px;
  color: white;
  width: 400px;
  height: 400px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

  .cardBackGround {
      width: 80%;
      height: 90%;
      background-color: rgb(0, 0, 0, 0.6);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.75);
  }

  .availability {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .options {
      margin: 10px 0 0 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: center;
  }
  .options ul {
    list-style: none !important;
    list-style-type: none !important;
  }
  .options li {
      margin: 5px;
      list-style: none !important;
      list-style-type: none !important;
  }
  .options li p {
      margin: 5px 2.5px 0 2.5px;
      font-size: 12px;
  }

  .tittleBook {
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
  }

  .genreBook {
      font-size: 16px;
      text-align: center;
  }

  .descriptionBook {
      margin: 5px 0;
      width: 90%;
      font-size: 14px;
      text-align: center;
  }

  .available {
      font-size: 18px;
      text-transform: uppercase;
      color: rgb(0, 165, 0);
      font-weight: bold;
  }

  .notAvailable {
      font-size: 18px;
      text-transform: uppercase;
      color: rgb(255, 0, 0);
      font-weight: bold;
  }

  .owner {
      font-size: 14px;
      color: #ffffff;
      
  }