/** @format */

.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardPerson {
  border-radius: 10px;
  color: rgb(241, 236, 236);
  width: 330px;
  height: 450px;
  background-color: rgba(19, 47, 139, 0.8);; 
  display: flex;
  justify-content: left;
  align-items: left;
}

.namePerson {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 22px;
  color: grey;
  text-align: left;
}

.surnamePerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 22px;
  color: grey;
  text-align: left;
}

.emailPerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 22px;
  color: grey;

  text-align: left;
}
.aliasPerson {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 22px;
  color: grey;
  text-align: left;
}
.personID {
  margin-left: 50px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  margin-top: 20px;
  text-align: left;
}

.dataSpace{
  text-transform: lowercase;
  margin-top: 5px;
  margin-left: 50px;
}

.deleteButton {
    padding-left: 5px;
    
  }
.modifyButton {
margin-left: 50px;
}
.btnGroup {
  margin: 5px 35px 4px 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;

}



