.navbarContainer {
    width: 100%;
    height: 80px;
    font-size: 22px;
    color: white;
    background: rgb(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarLogo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}
    .navbarLogo img {
        width: 50px;
        height: 50px;
    }

    .navbarTitle {
        margin: 0 0 0 10px;
        font-size: 18px;
    }

.navbarLinks {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .navbarLinks ul {
        list-style: none;
        display: flex;
    }

    .navbarLinks ul li {
        margin: 5px;
    }

.navbarLoginSignin {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .navbarLoginSignin ul {
        list-style: none;
    }

a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(109, 109, 109);
}

/* DROPDOWN */
/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(0, 0, 0, 0.9);
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links of dropdown */
.dropdown-content a {
  float: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(109, 109, 109);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/* Media Queries */

@media (max-width: 780px) { 
    .hide{
        display: none;
    }
}