/** @format */

.formContainerCategory {
    width: 600px;
    height: 300px;
    background: red;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 200px;
    padding: 25px;
    position: relative;
    width: auto;
    min-width: 500px;
    max-width: 900px;
    height: auto;
    min-height: 300px;
    color: white;
    background-color: rgba(26, 133, 44, 0.8);
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;
    box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 16px 7px
      rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 7px
      rgba(0, 0, 0, 0.75);
  }
  
  .formName {
    color: white;
    margin-bottom: 20px;
  }
  
 .smallInputTextCategory{
    font-size: 25px;
    margin-top: 5px;
    border-radius: 5px;
    border-color: rgb(19, 160, 38);
    
  }
  
  .formTitleSpace {
    color: white;
    margin-bottom: 40x;
  }