.container {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    color: white;
    width: 400px;
    height: 400px;
    background: url(../New-Project1.jpg) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}